<!-- START ABOUT CONTAINER -->
		<span class="anchor" id="about"></span>
		<div id="aboutcontainer">
			<!-- START ABOUT CONTENT -->
			<div id="aboutcontent">
				<!-- START ABOUT BULL PICTURE -->
				<div id="aboutbull"></div>
				<!-- END ABOUT BULL PICTURE -->
				<!-- START ABOUT HEADING -->
				<div id="aboutheading"></div>
				<!-- END ABOUT HEADING -->
				<!-- START ABOUT WRITING -->
				<div id="aboutwriting">
					<p class="writing">
						Want to get more intimate with us, enjoy our products, what drives us to the
						heights that we've reached, and why we're the bull? Or maybe you want to come
						and read up on our history and ethos. Well its not so difficult, trust me! 
						Just click the link below.
					</p>
				</br>
					<%= link_to "Company Stuff",{:controller => "company_stuff", :action => 'index'}, :class => "links" %>
				</div>
				<!-- END ABOUT WRITING -->
			</div>
			<!-- END ABOUT CONTENT -->
		</div>
		<!-- END ABOUT CONTAINER -->