<!-- START FRANCHISE CONTAINER-->
		<span class="anchor" id="franchise"></span>
		<div id="franchisecontainer">
			<!-- START FRANCHISE CONTENT -->
			<div id="franchisecontent">
				<!-- START FRANCHISE BULL PIC -->
				<div id="franchisebull"></div>
				<!-- END FRANCHISE BULL PIC -->
				<!-- START FRANCHISE HEADING -->
				<div id="franchiseheading">
					<!-- START FRANCHISE HEADING H1 -->
					<h1>Grab </br> The Bull</h1>
					<!-- END FRANCHISE HEADING H1 -->
					<!-- START FRANCHISE HEADING H2 -->
					<h2>By The Horns !</h2>
					<!-- END FRANCHISE HEADING H2 -->
				</div>
				<!-- END FRANCHISE HEADING -->
					<!-- START FRANCHISE WRITING -->
					<div id="franchisewriting">
						<p class="writing">
							WHAT! A Mash's Wing Ranch&reg; of your own. Is that possible? Why of course it is!
							You'll be glad to hear that our franchisees are the heart of our organisation.
							Their commitment, determination and their drive to build our unique brand
							experience has made us who we are today. We would like this success to grow
							with you on board. So if you're interested in becoming a part of the MWR story
							then we'd like to hear from you. Come on in, the waters are fine!
						</p>
					</br>
						<%= link_to "Information Pack", asset_path('franchise/franchise_info_pack.pdf'), :class => "links" %>
					</br></br>
						<%= link_to "Apply Online",{:controller => "franchise", :action => "index"}, :class => "links" %>
						
					</div>
					<!-- END FRANCHISE WRITIING -->
				</div>
				<!-- END FRANCHISE CONTENT -->
			</div>
		<!-- END FRANCHISE CONTAINER -->