<!-- START LANDING SECTION -->
		<span class="anchor" id="landing"></span>
		<div id="landingcontainer">
			<!-- START LANDING CONTENT -->
			<div id="landingcontent">
				<!-- START LANDING HEADING -->
				<div id="landingheading">
					<h2>The secret's in the sauce . . .</h2>
					<h1>And that's </br> no bull!</h1>
				</div>
				<!-- END LANDING HEADING -->
				<!-- LANDING WRITING -->
				<div id="landingwriting">
					<p class="writing">
						Serving lip smackin' wings and more since 1995, Mash's Wing Ranch&reg; serves 
						up the tastiest, freshest and most innovative menu anywhere.
						Take a look around. There's something for everyone, you'll love it!
					</p>
				</div>
				<!-- END LANDING WRITING -->
				<!-- START LANDING LEFT BLOCK -->
				<div id="landingleftblock">
					<%= link_to '#social', :id => 'social_link_landing', :class => 'links' do %>
					Become a ranch socialite
					<% end %>
					<p class="landingp" style="width:250px;">Look, let's not pretend. We're both social network junkies. Why not join the elite club of ranchers. We'll even let you graffiti on our wall, or take a ride on our bird.</p>
				</div>
				<!-- END LANDING LEFT BLOCK -->
				<!-- START LANDING CENTER BLOCK -->
				<div id="landingcenterblock">
					<%= link_to '#ranches', :id => 'ranches_link_landing', :class => 'links' do %>
					Locate your ranch
					<% end %>
					<p class="landingp" style="width:190px;">
					Desperate for some Mash's Wing Ranch&reg; are ya? Well, find out which 
					Ranch is closest,so you can satisfy your taste buds.</p>
				</div>
				<!-- END LANDING CENTER BLOCK -->
				<!-- START LANDING RIGHT BLOCK -->
				<div id="landingrightblock">
					<%= link_to '#rewards', :id => 'rewards_link_landing', :class => 'links' do %>
					Get some ranch rewards
					<% end %>
					<p class="landingp" style="width:230px;">
					You eat with us, you drink with us, and you socialise with us. It's only fair we reward you for your loyalty. Get some Ranch Rewards!</p>
				</div>
				<!-- END LANDING RIGHT BLOCK -->
			</div>
			<!-- END LANDING  CONTENT-->
		</div>
		<!-- END LANDING SECTION -->