<!-- START MENU CONTAINER -->
		<span class="anchor" id="menu"></span>
		<div id="menucontainer">
			<!-- START MENU CONTENT -->
			<div id="menucontent">
				<!-- START MENU BURGER PIC -->
				<div id="menuburger"></div>
				<!-- END MENU BURGER PIC -->
				<!-- START MENU WRITING -->
				<div id="menuwriting">
					<p class="writing">
					What did you think...We just winged it? This isn't some run of the mill menu.
					Its a tantalising, fusion frenzy, mouth watering collection of flavours.
					Check it out
				</p>
			</br>
				<%= link_to "View Menu",{:controller => "view_menu", :action => "index"}, :class => "links" %>
				</div>
				<!-- END MENU WRITING -->
				<!-- START MENU HEADING -->
				<div id="menuheading">
					<h1>Once bitten,</br>forever smitten.</h1>
				</div>
				<!-- END MENU HEADING -->
			</div>
			<!-- END MENU CONTENT -->
		</div>
		<!-- END MENU CONTAINER -->