<!-- START ORDER CONTAINER -->
		<span class="anchor" id="order"></span>
		<div id="ordercontainer">
			<!-- START ORDER CONTENT -->
			<div id="ordercontent">
				<!-- START ORDER BAG PIC -->
				<div id="orderbag"></div>
				<!-- END ORDER BAG PIC -->
				
				<!-- START ORDER BAG PIC -->
				<div id="ordersub"></div>
				<!-- END ORDER BAG PIC -->

				<!-- START ORDER HEADING -->
				<div id="orderheading">
					<!-- START ORDER HEADING H2 -->
					<h2>Life is just a plate of wings ...</h2>
					<!-- END ORDER HEADING H2 -->
					<!-- START ORDER HEADING H1 -->
					<h1>Come and </br> get some!</h1>
					<!-- END ORDER HEADING H1 -->
				</div>
				<!-- END ORDER HEADING -->
				<!-- START ORDER WRITING -->
				<div id="orderwriting">
					<p class="writing">
						Sometimes in life our tongues get bored with the food we give it.
						Want to get it sizzling with excitement? Just click below to place your
						order. Get it delivered or head to your local Mash's Wing Ranch&reg;
						to pick it up. In the mean time please avoid eating your computer screen!
					</p>
				</br>
					<a class="links" href="#landing">Order Online</a>
				</div>
				<!-- END ORDER WRITING -->
			</div>
			<!-- END ORDER CONTENT -->
		</div>
		<!-- END ORDER CONTAINER -->