<!-- START RANCHES CONTAINER-->
		<span class="anchor" id="ranches"></span>
		<div id="ranchescontainer">
			<!-- START RANCHES CONTENT -->
			<div id="ranchescontent">
				<!-- START RANCHES BULL PIC -->
				<div id="ranchestenders"></div>
				<!-- END RANCHES BULL PIC -->
				<!-- START RANCHES HEADING -->
				<div id="ranchesheading">
					<!-- START RANCHES HEADING H2 -->
					<h2>Find Your Home Ranch</h2>
					<!-- END RANCHES HEADING H2 -->
					<!-- START RANCHES HEADING H1 -->
					<h1>Ranch </br>  Locator</h1>
					<!-- END RANCHES HEADING H1 -->
				</div>
				<!-- END RANCHES HEADING -->
					<!-- START RANCHES WRITING -->
					<div id="rancheswriting">
						<p class="writing">
							So you're looking for a great dining experience? 
							Why don't you head on over to a Mash's Wing Ranch&reg; near you. 
							Don't know where that is I hear you say... 
							Well what are you waiting for! Click the button below and find out.
						</p>
					</br>
						<%= link_to "Ranch Locator",{:controller => "ranch_locations", :action => 'index'}, :class => "links" %>
					</div>
					<!-- END RANCHES WRITIING -->
					<!-- START RANCHES SLOGAN -->
					<div id="ranchesslogan"><h1>Love At First Bite.</h1></div>
					<!-- END RANCHES SLOGAN -->
				</div>
				<!-- END RANCHES CONTENT -->
			</div>
		<!-- END RANCHES CONTAINER -->