<!-- START FRANCHISE CONTAINER-->
		<span class="anchor" id="rewards"></span>
		<div id="rewardscontainer">
			<!-- START FRANCHISE CONTENT -->
			<div id="rewardscontent">
				<!-- START FRANCHISE BULL PIC -->
				<div id="rewardsbaloons"></div>
				<!-- END FRANCHISE BULL PIC -->
				<!-- START FRANCHISE HEADING -->
				<div id="rewardsheading">
					<!-- START FRANCHISE HEADING H2 -->
					<h2>Are You In Or Are You Out?</h2>
					<!-- END FRANCHISE HEADING H2 -->
					<!-- START FRANCHISE HEADING H1 -->
					<h1>Ranch</br>Rewards</h1>
					<!-- END FRANCHISE HEADING H1 -->
				</div>
				<!-- END FRANCHISE HEADING -->
					<!-- START FRANCHISE WRITING -->
					<div id="rewardswriting">
						<p class="writing">
							Join Mash’s Wing Ranch, Ranch Rewards club you’d be mad not to! Sign up for our email list to get our latest offers, coupons, news and more. And for even more rewards, pick up your free rewards card at any MWR and start earning points for your purchases that can be redeemed for credit to spend on a future visit.
						</p>
					</br>
						<%= link_to "Join The Ranch Rewards Club",{:controller => "join_us", :action => "index"}, :class => "links" %>
					</div>
					<!-- END FRANCHISE WRITIING -->
				</div>
				<!-- END FRANCHISE CONTENT -->
			</div>
		<!-- END FRANCHISE CONTAINER -->