<!-- START FRANCHISE CONTAINER-->
		<span class="anchor" id="social"></span>
		<div id="socialcontainer">
			<!-- START FRANCHISE CONTENT -->
			<div id="socialcontent">
				<!-- START FRANCHISE BULL PIC -->
				<div id="socialhand"></div>
				<!-- END FRANCHISE BULL PIC -->
				<!-- START FRANCHISE HEADING -->
				<div id="socialheading">
					<!-- START FRANCHISE HEADING H2 -->
					<h2>Become A Ranch Socialite.</h2>
					<!-- END FRANCHISE HEADING H2 -->
					<!-- START FRANCHISE HEADING H1 -->
					<h1>Get Social </br> With Us.</h1>
					<!-- END FRANCHISE HEADING H1 -->
				</div>
				<!-- END FRANCHISE HEADING -->
					<!-- START FRANCHISE WRITING -->
					<div id="socialwriting">
						<p class="writing">
							We like the internet, and so do you. After all, that is why your here aren’t you. The  social stratosphere of the internet is growing, and we want to grow with it. Get our exclusive deals and offers when you interact with us on social networking sites. Worse case scenario, you can tell us how wonderful our food is!
						</p>
					</br>
						<%= link_to "Facebook", "http://www.facebook.com/pages/Mashs-Wing-Ranch/123202301030", :class => "links" %>
						</br></br>
						<%= link_to "Twitter", "https://twitter.com/mashswingranch", :class => "links" %>
					</div>
					<!-- END FRANCHISE WRITIING -->
				</div>
				<!-- END FRANCHISE CONTENT -->
			</div>
		<!-- END FRANCHISE CONTAINER -->