<table class="listing" summary="Menu Item Detailed View">
    <tr>
      <th>Menu Category</th>
      <td><%= @menu.category %></td>
    </tr>
    <tr>
      <th>Item Name</th>
      <td><%= @menu.item %></td>
    </tr>
    <tr>
      <th>Item Description</th>
      <td><%= @menu.description %></td>
    </tr>
  </table>