<!-- START ABOUT CONTAINER -->
		<span class="anchor" id="sec_about"></span>
		<div id="sec_aboutcontainer">
			<!-- START ABOUT CONTENT -->
			<div id="sec_aboutcontent">

				<div id="mwr_logo"></div>
				<div id="sec_aboutbull"></div>


				<div id="sec_aboutwriting">
					<p class="writing">
					The secret's in the sauce… and that's no bull! Well that's only part of the success of MWR&reg;. So how do you sustain successful growth since 1995?
					</br></br>
					Well, being family run throughout doesn't hurt, and having franchisees with the same ethos and trailblazing attitude certainly goes a long a way.
					</br></br>
					But that is also only a part of the answer. In truth, our power comes from the undying loyalty of the Cravers of our food. It is because of them and through them that we go on. The more you crave, the more we serve, and that is why we continue to grow. More on the menu, more locations on the map, and more Cravers enjoying both.
					</br></br>
					Mash's Wing Ranch&reg; is more than a company. It's an experience that transcends time, space and sometimes, rational thought. For almost 20 years our unique approach has made our food the answer to what you crave. And we're planning on that continuing way beyond the next 20 years.
					</p>
				</div>
			</div>
			<!-- END ABOUT CONTENT -->
		</div>
		<!-- END ABOUT CONTAINER -->